body{
    height: 100vh;
}
#Fondo{
    height: 100vh;

    background: burlywood;
    
    /* Ubicación de la imagen */

background-image: url(/CBCV/CBCiutatVella/public/pistabasket.jpg);

/* Para dejar la imagen de fondo centrada, vertical y

horizontalmente */

background-position: center center;

/* Para que la imagen de fondo no se repita */

background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

background-size: cover;

/* Se muestra un color de fondo mientras se está cargando la imagen

de fondo o si hay problemas para cargarla */


}

.NoEncontrado{
    display:none;
}

.card{
    margin: 20px 0px 20px 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
.BoxBusca{
    background: #FAC329;
    padding: 20px;
    color: black;
    text-align: left;
    
}

ul > li > h5{
    border-bottom: 1px solid black;
}

ul{
    padding: 0px;
}

li {
    list-style:none;
}



.BoxBuscaContent{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-gap: 20px; */
    /* margin-top: 20px; */

}

.BoxBuscaContent > h1{
    font-size: 1em;

}

.BoxBuscaContent > h2{
    font-size: 0.9em;

}

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
.BoxLista{
    background: #FAC329;
    padding: 10px;
    color: black;
    text-align: left;
    
}

ul > li > h5{
    border-bottom: 1px solid black;
}

ul{
    padding: 0px;
}

li {
    list-style:none;
}

.BoxBuscaContent > h1{
    font-size: 1em;

}

.BoxBuscaContent > h2{
    font-size: 0.9em;

}

.footerContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 20px; */
    /* margin-top: 20px; */

}    

.BoxListaUbi{
    grid-column: 1 / 3 ;
}

.BoxListaSig{
    grid-column: 1 / 3 ;

}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    


} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.titulo{
    font-size: 1rem;
}
.titulo2{
    font-size: 0.75rem;
}
.BoxBuscaContent{

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20%;
    margin-top: 20px;
    height: 5%;
    /* padding-left: 22%; */
    width: 95%;
    /* padding-top: 2%; */
    grid-template-rows: 1fr 2fr 3fr;
    /* grid-auto-rows: 35%; */
    /* margin-left: 25px; */
    padding: 0 20%;
}
.card-deck{
    margin-top: 250px;
}

#buscaDNI{
    margin: 0 auto;
}


    /*  ---- REVISAR SI ESTO AQUI ABAJO EN ESTE BP NOS ESTA AFECTANDO  */
.BoxLista{
    background: #FAC329;
    padding: 10px;
    color: black;
    text-align: left;
    
}

ul > li > h5{
    border-bottom: 1px solid black;
}

ul{
    padding: 0px;
}

li {
    list-style:none;
}

.BoxBuscaContent > h1{
    font-size: 1.25em;

}  

.BoxBuscaContent > h2{
    font-size: 1.15em;

}
    
.footerContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 20px; */
    /* margin-top: 20px; */

}  

.BoxListaUbi{
    grid-column: auto ;
}

.BoxListaSig{
    grid-column: 1 / 4 ;

}

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.titulo{
    font-size: 1.5rem;
}
.titulo2{
    font-size: 1.25rem;
}
.BoxBuscaContent{

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20%;
    margin-top: 20px;
    height: 5%;
    padding-left: 22%;
    width: 95%;
    padding-top: 2%;
    grid-template-rows: 1fr 2fr 3fr;
    grid-auto-rows: 35%;
    margin-left: 25px;
}

.card-deck{
    margin-top: 5px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.BoxBusca{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.BoxTodoSocios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid: 2 / 1 / 3 / 2;
}

.BoxLista{
    background: #FAC329;
    padding: 10px;
    color: black;
    text-align: left;
    
}

ul > li > h5{
    border-bottom: 1px solid black;
}

ul{
    padding: 0px;
}

li {
    list-style:none;
}

.BoxBuscaContent > h1{
    font-size: 1.5em;

}

.BoxBuscaContent > h2{
    font-size: 1.4em;

}

#footer{
    height: 400px;
}    

.footerContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 20px; */
    /* margin-top: 20px; */

}  

.BoxListaUbi{
    grid-column: auto;
    grid-row: auto;
}

.BoxListaSig{
    grid-column: auto ;

}

}